In [12]:
import pandas as pd

In [13]:
#Reading dataset.csv and printing first few values using .head() and dataset storing in the df variable (dataframe)
df = pd.read_csv('dataset.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [14]:
#Now we are dividing our dataset between target variable (salary_more_then_100k) and the independent variable (rest of the colums)

#independent variables
inputs = df.drop('salary_more_then_100k',axis='columns')
#target variable
target = df['salary_more_then_100k']

In [16]:
#Importing LabelEncorder from sklearn so that we can turn our non-numeric columns into numeric columns
from sklearn.preprocessing import LabelEncoder

In [17]:
#Creating separate objects for each non-numeric columns
lableEncoder_company = LabelEncoder();
lableEncoder_job = LabelEncoder();
lableEncoder_degree = LabelEncoder();

In [18]:
#Using fit_transform method of our object to add a new columns (each) to our dataset that will be of a numeric values

inputs['company_numeric']=lableEncoder_company.fit_transform(inputs['company'])
inputs['job_numeric']=lableEncoder_company.fit_transform(inputs['job'])
inputs['degree_numeric']=lableEncoder_company.fit_transform(inputs['degree'])

In [21]:
inputs.head()
#Dropping all our non numeric data columns and now we will have only numeric columns
inputs_numeric=inputs.drop(['company','job','degree'],axis='columns')

In [22]:
from sklearn import tree

In [23]:
model=tree.DecisionTreeClassifier()

In [31]:
model.fit(inputs_numeric,target);

Importing Trees from Sklearn, using DecisionTreeClassifier method here for our model and then using fit() to train our model with gini (default) criteria

In [32]:
model.score(inputs_numeric,target)

1.0

Using .score() to predict our dataset

In [34]:
model.predict([[2,2,1]]) #Now we are predicting a salary of a random employee with a sales-executive designation which will be he will not be getting a salary over 100k

array([0], dtype=int64)